---
layout: default
---

{% for section in site.data.sections %}
    <h2>{{ section.title }}</h2>

    <table class="u-full-width">
        <tr>
            <th class="preview" width="200">Character</th>
            <th width="50">Named</th>
            <th width="50">Decimal</th>
            <th>Description</th>
        </tr>
        {% for char in site.data[section.key] %}
            <tr>
                <td class="preview">&#{{ char.decimal-entity }};</td>
                <td class="entity">&amp;{{ char.html-entity }};</td>
                <td class="entity">&amp;#{{ char.decimal-entity }};</td>
                <td>{{ char.description }}</td>
            </tr>
        {% endfor %}
    </table>
{% endfor %}
